<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL -->
<mapper namespace="org.scit.dao.GroupDAO">
		
		<!-- 1 -->
		<insert id="insertGroup" parameterType="map">
			INSERT INTO groups
			(groupseq, groupname, groupleader, groupteg, groupsecret)
			VALUES
			(groupseq.nextval, #{name}, #{id}, #{teg}, #{secret})
		</insert>
		
		
		<!-- 2 -->
		<update id="alert" parameterType="map">
			UPDATE groups
			SET alert = #{alert}
			WHERE groupseq = #{groupseq}
		</update>
		
		
		<!-- 3 -->
		<insert id="insertGroupMember" parameterType="map">
			INSERT INTO groupmember
			VALUES
			(#{groupseq},#{id})
		</insert>
		
		
		<!-- 4 -->
		<select id="selectGroup" parameterType="map" resultType="map">
			SELECT groupname, groupseq, groupleader, groupteg
			FROM groups
			WHERE groupsecret == 'public'
			AND
			<if test="groupname != null">
				groupname = #{groupname}
			</if>
			<if test="groupseq != null">
				groupseq = #{groupseq}
			</if>
			<if test="groupleader != null">
				groupleader = #{groupleader}
			</if>
			<if test="groupteg != null">
				groupteg = #{groupteg}
			</if>
		</select>
		
		<!-- 5 -->
		<select id="selectMyGroup" parameterType="string" resultType="map">
			SELECT g.groupname name, g.groupseq num
			FROM groupmember gm, groups g
			WHERE gm.groupseq = g.groupseq
			AND gm.id = #{id}
		</select>
		
		<!-- 6 -->
		<select id="selectLastMakeGroupseq" parameterType="map" resultType="integer">
			SELECT MAX(groupseq)
			FROM groups
			WHERE groupleader = #{id}
		</select>
		
		
		<!-- 7 -->
		<select id="selectGroupmember" parameterType="map" resultType="integer">
			SELECT count(*)
			FROM groupmember
			WHERE groupseq = #{groupseq}
			AND id = #{id}
		</select>
		
		<!-- 8 -->
		<select id="selectOneGroup" parameterType="integer" resultType="map">
			SELECT groupname, groupseq, groupleader, groupteg
			FROM groups
			WHERE groupseq = #{num}
		</select>
</mapper>